@import url("https://fonts.googleapis.com/css2?family=Kranky&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.header-content,
main,
footer {
  padding: 0 4vw;
}

h1 {
  font-family: "Kranky";
  font-size: clamp(15px, 5vw, 154px);
  font-weight: 400;
  color: #8a0303;
}

h2 {
  font-family: "Kranky";
  font-size: clamp(11px, 4.2vw, 108px);
  font-weight: 300;
  color: #8a0303;
  text-align: center;
  margin: 5vh;
}

h3,
.h3-red-text,
.h3-white-text {
  font-family: "Kranky";
  font-size: clamp(7px, 2.5vw, 64px);
  font-weight: 300;
}

.h3-white-text,
.plans-blocks h3 {
  color: #ffffff;
}

.h3-red-text,
.programs-blocks h3 {
  color: #8a0303;
}

a,
p {
  font-family: "Oswald";
  font-size: clamp(4px, 1.5vw, 39px);
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.join-btn-big span {
  font-family: "Kranky";
  font-size: clamp(10px, 3vw, 90px);
  font-weight: 300;
  color: #ffffff;
}

.join-btn-small span {
  font-family: "Kranky";
  font-size: clamp(8px, 2vw, 77px);
  font-weight: 300;
  color: #8a0303;
}

header {
  display: flex;
  height: 100vh;
  min-height: 700px;
  flex-direction: column;
}

nav {
  height: 10vh;
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(18px, 0.7vh, 180px) 4vw;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: clamp(38px, 15vw, 384px);
  height: auto;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: clamp(16px, 6.5vw, 166px);
}

.menu a {
  display: flex;
  height: 100%;
  align-items: center;
  gap: clamp(18px, 0.7vw, 180px);
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.menu a img {
  width: clamp(8px, 3vw, 77px);
  height: auto;
}

.header-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.bg-img {
  position: relative;
  height: 90vh;
  min-height: 640px;
}

#bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

.bg-img h1,
.bg-img button {
  position: relative;
  z-index: 1;
}

.header-content h1:nth-of-type(1) {
  position: absolute;
  top: 7%;
  right: 5%;
}

.header-content h1:nth-of-type(2) {
  position: absolute;
  top: 25%;
}

.header-content h1:nth-of-type(3) {
  position: absolute;
  top: 43%;
  right: 5%;
}

.header-content h1:nth-of-type(4) {
  position: absolute;
  bottom: 0;
}

.header-content button {
  position: absolute;
  bottom: 3%;
  right: 15%;
}

.join-btn-big {
  background-image: url("../images/some.jpeg");
  width: clamp(48px, 15vw, 486px);
  height: auto;
  border-radius: 60px;
  background-size: cover;
  background-position: 2%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.3vw solid black;
  padding: 0.3vh 0;
  background-blend-mode: darken;
}

.join-btn-big:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#specialization {
  display: flex;
  flex-direction: column;
  height: auto;
}

#specialization-block-crossFit,
#specialization-block-powerlifting,
#specialization-block-strongman {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

#strongman-specialization-text p,
#crossFit-specialization-text p,
#powerlifting-specialization-text p {
  text-align: left;
}

#crossFit-specialization-image,
#powerlifter-specialization-image,
#strongman-specialization-image {
  width: 20vw;
  height: auto;
}

#crossFit-specialization-text {
  background-color: #330000;
}

#powerlifting-specialization-text {
  background-color: #111f3b;
}

#crossFit-specialization-text,
#powerlifting-specialization-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 1.5vh 3vw;
  gap: 0.7vh;
}

#strongman-specialization-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 1.5vh 2vw;
  gap: 0.7vh;
  background-color: #330000;
}

#gym-description {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 1vh 1vw;
  background-color: #111f3b;
}

#powerlifting-crossFit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  align-items: flex-start;
}

#strongman-gym-description {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}

#specialization-block-crossFit {
  margin-top: 4vh;
}

#specialization-block-powerlifting {
  flex-direction: row-reverse;
  align-items: flex-end;
}

#specialization-block-strongman {
  flex-direction: row-reverse;
}

#programs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#programs-blocks-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: stretch;
  gap: 7vh 7vw;
}

.programs-blocks {
  background-color: #111f3b;
  width: 20vw;
  height: auto;
  border-radius: 40px;
  padding: 1.7vh 2.3vw;
}

.programs-blocks h3 {
  text-align: center;
}

.programs-blocks p {
  text-align: left;
}

#program-block-powerlifting {
  background-image: url("/images/powerlifting-programs-section.jpeg");
}

#program-block-strongman {
  background-image: url("/images/strongman-programs-section.jpeg");
}

#program-block-crossFit {
  background-image: url("/images/crossfit-programs-section.jpeg");
}

#program-block-strength-conditioning {
  background-image: url("/images/strength-conditioning-programs-section.jpeg");
}

#program-block-night-warriors {
  background-image: url("/images/night-programs-section.jpeg");
}

#program-block-recovery-mobility {
  background-image: url("/images/stretching-programs-section.jpeg ");
}

#program-block-powerlifting,
#program-block-strongman,
#program-block-crossFit,
#program-block-strength-conditioning,
#program-block-night-warriors,
#program-block-recovery-mobility {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}



#messenger-icons img {
  width: 20px;
  height: auto;
}


