@import url("https://fonts.googleapis.com/css2?family=Kranky&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.header-content,
main,
footer {
  padding: 0 4vw;
}

h1 {
  font-family: "Kranky";
  font-size: clamp(35px, 5vw, 154px);
  font-weight: 400;
  color: #8a0303;
}

h2 {
  font-family: "Kranky";
  font-size: clamp(11px, 4.2vw, 108px);
  font-weight: 300;
  color: #8a0303;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

h3,
.h3-red-text,
.h3-white-text {
  font-family: "Kranky";
  font-size: clamp(7px, 2.5vw, 64px);
  font-weight: 300;
}

.h3-white-text,
.plans-blocks h3 {
  color: #ffffff;
}

.h3-red-text,
.programs-blocks h3 {
  color: #8a0303;
}

a,
p {
  font-family: "Oswald";
  font-size: clamp(10px, 1.5vw, 39px);
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

footer p,
footer a {
  font-size: clamp(8px, 0.7vw, 35px);
}

.join-btn-big span,
.join-btn-small span {
  font-family: "Kranky";
  font-size: clamp(10px, 3vw, 90px);
  font-weight: 300;
  color: #ffffff;
}

.join-btn-small span {
  font-size: clamp(8px, 2vw, 77px);
}

header {
  display: flex;
  height: 100vh;
  min-height: 700px;
  flex-direction: column;
}

nav {
  height: 10vh;
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7vh 4vw;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 20vw;
  height: auto;
}
#nav-toggle,
#back-button {
  display: none;
}

.menu {
  height: 100%;
  display: flex;
  gap: 6.5vw;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 0.7vw;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.menu a img {
  width: clamp(10px, 3vw, 77px);
  height: auto;
}

.header-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.bg-img {
  position: relative;
  height: 90vh;
  min-height: 640px;
}

#bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

.bg-img h1,
.bg-img button {
  position: relative;
  z-index: 1;
}

.mobile-break {
  display: none;
}

.header-content h1:nth-of-type(1) {
  position: absolute;
  top: 7%;
  right: 5%;
}

.header-content h1:nth-of-type(2) {
  position: absolute;
  top: 25%;
}

.header-content h1:nth-of-type(3) {
  position: absolute;
  top: 43%;
  right: 5%;
}

.header-content h1:nth-of-type(4) {
  position: absolute;
  bottom: 0;
}

.header-content button {
  position: absolute;
  bottom: 3%;
  right: 15%;
}

.join-btn-big,
.join-btn-small {
  background-image: url("../images/some.jpeg");
  width: clamp(48px, 15vw, 486px);
  height: auto;
  border-radius: 60px;
  background-size: cover;
  background-position: 2%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.3vw solid black;
  padding: 0.3vh 0;
  background-blend-mode: darken;
}

.join-btn-big:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#specialization {
  display: flex;
  flex-direction: column;
  height: auto;
}

#specialization-block-crossFit,
#specialization-block-powerlifting,
#specialization-block-strongman {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

#strongman-specialization-text p,
#crossFit-specialization-text p,
#powerlifting-specialization-text p {
  text-align: left;
}

#crossFit-specialization-image,
#powerlifter-specialization-image,
#strongman-specialization-image {
  width: 20vw;
  aspect-ratio: 1 / 1.2;
}

#crossFit-specialization-text {
  background-color: #330000;
}

#powerlifting-specialization-text {
  background-color: #111f3b;
}

#crossFit-specialization-text,
#powerlifting-specialization-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 1.5vh 3vw;
  gap: 0.7vh;
}

#strongman-specialization-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 1.5vh 2vw;
  gap: 0.7vh;
  background-color: #330000;
}

#gym-description {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 1vh 1vw;
  background-color: #111f3b;
}

#powerlifting-crossFit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  align-items: flex-start;
}

#strongman-gym-description {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
}

#specialization-block-crossFit {
  margin-top: 4vh;
}

#specialization-block-powerlifting {
  flex-direction: row-reverse;
  align-items: flex-end;
}

#specialization-block-strongman {
  flex-direction: row-reverse;
}

#programs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#programs-blocks-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: stretch;
  gap: 7vh 7vw;
}

.programs-blocks {
  background-color: #111f3b;
  width: 20vw;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 40px;
  padding: 1.7vh 2.3vw;
  gap: 1vh;
}

.programs-blocks h3 {
  text-align: center;
}

.programs-blocks p {
  text-align: left;
}

#program-block-powerlifting {
  background-image: url("../images/powerlifting-programs-section.jpeg");
}

#program-block-strongman {
  background-image: url("../images/strongman-programs-section.jpeg");
}

#program-block-crossFit {
  background-image: url("../images/crossfit-programs-section.jpeg");
}

#program-block-strength-conditioning {
  background-image: url("../images/strength-conditioning-programs-section.jpeg");
}

#program-block-night-warriors {
  background-image: url("../images/night-programs-section.jpeg");
}

#program-block-recovery-mobility {
  background-image: url("../images/stretching-programs-section.jpeg ");
}

#program-block-powerlifting,
#program-block-strongman,
#program-block-crossFit,
#program-block-strength-conditioning,
#program-block-night-warriors,
#program-block-recovery-mobility {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}

#plans {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
}

#plans-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 3vw;
}

.plans-blocks {
  flex: 1 1;
  width: 17vw;
  height: auto;
  padding: 2vh 2vw 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111f3b;
  gap: 3vh;
}

.plans-blocks h3,
.plans-blocks p {
  text-align: center;
}

.plan-text {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

#base-plan-block {
  background-image: url("../images/base-pass.jpeg");
}

#warrior-plan-block {
  background-image: url("../images/warrior-pass.jpeg");
}

#power-plan-block {
  background-image: url("../images/power-pass.jpeg");
}

#base-plan-block,
#warrior-plan-block,
#power-plan-block {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.join-btn-small {
  width: clamp(40px, 11vw, 350px);
}

.join-btn-small:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

footer {
  height: 26vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/footer-background.jpeg);
  background-size: 90%;
  background-position: center 37%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}

#extra-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mail-icon,
#phone-icon {
  width: 1.5vw;
  height: auto;
}

footer a,
footer p {
  text-align: center;
}

#email a,
#phone-number a {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}

#messenger-icons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 1vw;
}

#messenger-icons img {
  width: 5vw;
  height: auto;
}


@media (max-width: 767px) {
  h1 {
    font-size: clamp(35px, 7vw, 154px);
  }

  h2 {
    font-size: clamp(30px, 5vw, 125px);
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  h3,
  .h3-red-text,
  .h3-white-text {
    font-size: clamp(20px, 3.5vw, 80px);
  }

  a {
    font-size: clamp(15px, 4vw, 39px);
  }

  p {
    font-size: clamp(11px, 3vw, 39px);
  }

  nav {
    height: 8vh;
    min-height: 45px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 60vh;
    width: 40vw;
    gap: 7vh;
    z-index: 999;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu a img {
    width: clamp(20px, 5vw, 77px);
    height: auto;
  }

  #logo img {
    width: 30vw;
    height: auto;
  }

  #back-button {
    position: absolute;
    right: 10%;
    top: 5%;
  }

  #back-button-icon,
  #nav-toggle-button {
    width: clamp(25px, 6vw, 100px);
    height: auto;
  }

  #nav-toggle,
  #back-button {
    display: block;
  }

  .bg-img {
    height: 92vh;
  }

  .header-content h1:nth-of-type(4) {
    position: absolute;
    bottom: 15%;
  }

  .join-btn-big span,
  .join-btn-small span {
    font-family: "Kranky";
    font-size: clamp(10px, 5vw, 90px);
    font-weight: 300;
    color: #ffffff;
  }

  .header-content button {
    width: 25vw;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 40%;
  }

  .laptop-break {
    display: none;
  }
  .mobile-break {
    display: inline;
  }

  #specialization {
    flex-direction: column;
  }

  #gym-description {
    padding: 2vh 2vw;
  }

  #specialization-block-crossFit,
  #specialization-block-powerlifting,
  #specialization-block-strongman {
    flex-direction: column;
  }

  #specialization-block-powerlifting {
    align-items: flex-end;
  }

  #specialization-block-crossFit img,
  #specialization-block-powerlifting img,
  #specialization-block-strongman img {
    width: 35vw;
    aspect-ratio: 1 / 1;
  }

  #strongman-specialization-text,
  #crossFit-specialization-text,
  #powerlifting-specialization-text {
    width: 70vw;
  }

  #powerlifting-crossFit,
  #strongman-gym-description {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }

  #gym-description{
    width: 70vw;
  }

  

  #strongman-specialization-text p,
  #crossFit-specialization-text p,
  #powerlifting-specialization-text p {
    text-align: center;
    letter-spacing: 0.3vw;
  }

 
}
